

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">DemoApp</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse nav" id="navbarNav">
      <ul class="navbar-nav nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUTUS</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">JOBS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">CLIENTS <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">EMPLOYERS <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">CONTACT <span class="sr-only"></span></a>
        </li>
        <br>

        

        <br>
        
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Full Time
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Part Time/Casual/Freelance
            </label>
          </div>
    
        

<br>

       
  

       
        
  
        
  
        
        
  
  
        
